body {
}

header {
    text-align: center;
}

nav {
    margin-left: 60px;
    position: absolute;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    /* display: inline; */
    /* padding 0 lem 0 0; */
}

section {
    margin-left: 280px;
    margin-right: 280px;
}

canvas {
    cursor: crosshair;
}

footer {
}

h1 {
}

h2 {
}


